<div
  class="bg-gradient-to-r from-teal-500 to-teal-700 text-white min-h-screen flex flex-col justify-center items-center"
>
  <div class="text-center px-6">

    <div class="flex items-center justify-center gap-3 mb-8">
      <h1 class="text-5xl font-extrabold tracking-tight text-white">
        Top<span class="text-[#21f3d9]">Spots</span>
      </h1>
    
      <ng-lottie 
        [options]="lottieOptions" 
        width="48px" 
        height="48px"
      ></ng-lottie>
    </div>

    <h1 class="text-4xl font-bold mb-4">
      Welcome to your list of favorite places!
    </h1>
    <p class="text-lg mb-6">
      Explore, organize, and share the amazing places you love. All
      in one place.
    </p>

    <button
      *ngIf="isLoggedIn()"
      (click)="navigate()"
      class="mx-auto bg-white text-teal-400 font-semibold py-2 px-8 rounded-full shadow hover:bg-teal-700 hover:text-white transition duration-300 flex items-center justify-center"
    >
      <img class="mr-3 w-[40px] rounded-full" [src]="imgProfile" alt="Google logo" />
      <span>
        Hi {{ profile?.name }}, click here to enjoy the site!
        <a class="underline ml-2 hover:text-white transition" href="#" (click)="logout($event)">Not you?</a>
      </span>
    </button>

    <button
      *ngIf="!isLoggedIn()"
      (click)="googleLogin()"
      class="mx-auto bg-white text-teal-400 font-semibold py-2 px-8 rounded-full shadow hover:bg-teal-700 hover:text-white transition duration-300 flex items-center justify-center"
    >
    <img class="mr-5 w-[40px]" src="https://cdn1.iconfinder.com/data/icons/logos-brands-in-colors/544/Google__G__Logo-512.png" alt="Google logo" />
    Sign in with Google
    </button>
  </div>
</div>
